.jumbotron {
    background-image: url("/assets/images/pic1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}

.jumbotron , h1 {
    font-family: 'Slidecar', cursive;
}
#red {
    color:  #a6f11c;
}

#newburger {
    border-radius: 5px;
    text-align: center;
}

#newburger:hover {
    background-color: gold;
    padding-top: 15px;
    transition: all 0.5s ease;
}

#color-override {
    color: #a6f11c;
    text-align: center;
    
}

#leftheading {
    background-color: #eb9f34;
    color: white;
    text-align: center;
    font-size: 1.2em;
    border-radius: 5px;

}

#devouredbutton, #deletebutton {
    float: right;
}

#rightheading {
    background-color: red;
    color: white;
    text-align: center;
    font-size: 1.2em;
    border-radius: 5px;

    
}